@media (max-width:768px){

    .danza{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        place-items: center;        
    }

    .danzaTitulo{
        font-size: small;
    }

    .barraNavegacion ul li{
        display: block;
        padding: 6px;
        font-size: small;
        color: $color-blanco;
    }
    
    footer{
        font-size: small;
    }

    .iconosRedes{
        width: 10px;
    }
}

@media (max-width:480px){

    .danza{
        display: block;
        align-items: center;
        justify-content: center;
        margin: 10px;       
    }
}
