*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 15%, auto, 20%;
    grid-template-areas: "header header header header"
                         "main main main main"
                         "footer footer footer footer";
}

header{
    grid-area: header;
}

main{  
    grid-area: main; 
    background-color:  rgb(219, 164, 233);
}

main img{
    width: 100%;
}


footer{
    grid-area: footer;
    padding: 10px;
    background-color: rgb(190, 87, 216);
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.barraNavegacion{
    width: 100%;
    margin: 0;
    background-color: rgb(190, 87, 216);
    position: sticky;
}

.barraNavegacion ul {
    list-style: none;
}

.barraNavegacion ul li{
    display: inline-block;
    padding: 15px;
    font-size: 15px;
    color: white;
}

.iconosRedes{
    width: 20px;
}

.tablaRedes tr td{
    padding-left: 10px;
}

.danza{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    place-items: center;
}

.danzaTitulo{
    padding: 10px;
    font-size: medium;
    text-align: center;
}

.danzaTexto{
    font-size: 15px;
}

.inicioTexto{
    text-align: center;
    padding: 20px;
    line-height: 1.6;
}

.formularioContacto{
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;   
}

.boton{   
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}

.qsMain {   
    background-image:url("../images/iRR_8.jpg");  
    background-repeat: no-repeat;
    background-size: cover;  
}

.qsTexto{
    padding: 50px;
    text-align: center; 
    font-size: large;  
}

.qsNombres{
    margin-top: 500px;
    margin-left: 50px; 
    padding: 50px; 
}

@media (max-width:768px){

    .danza{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        place-items: center;        
    }

    .danzaTitulo{
        font-size: small;
    }

    .barraNavegacion ul li{
        display: block;
        padding: 5px;
        font-size: small;
        color: white;
    }
    
    footer{
        font-size: small;
    }

    .iconosRedes{
        width: 10px;
    }
}


@media (max-width:480px){

    .danza{
        display: block;
        align-items: center;
        justify-content: center;
        margin: 10px;       
    }
   
}

